.info {
  position: absolute;
  top: calc(2 * var(--margin) + var(--fs3));
  mix-blend-mode: difference;
  color: #fff;
}

.media_wrapper {
  display: flex;
  height: calc(100dvh - (2 * var(--margin)));
  width: 100%;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}

.media_wrapper img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.title {
  text-transform: uppercase;
}

.title {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.project_index {
  display: inline-block;
  margin-right: 5px; /* your gap */
  flex-shrink: 0; /* prevents it from shrinking */
}

.service {
  margin-bottom: 0 !important;
}

@media screen and (min-width: 769px) {
  .info {
    max-width: 33%;
  }
}
