.media_wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;

  height: 100dvh;
  width: 100dvw;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  z-index: 1;
}

.info {
  position: absolute;
  top: calc(2 * var(--margin) + var(--fs3));
  mix-blend-mode: difference;
  color: #fff;
  z-index: 2;
}

@media screen and (min-width: 769px) {
  .info {
    max-width: 33%;
  }
}
