@font-face {
  font-family: "ABCDiatype";
  src:
    url("/assets/fonts/Diatype/ABCDiatype-Regular.woff2") format("woff2"),
    url("/assets/fonts/Diatype/ABCDiatype-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --margin: 4px;

  /* largest */
  --fs1: 48px;
  --lh1: 40px;
  --ls1: calc(var(--fs1) * -0.025);

  --fs2: 22px;
  --lh2: 24px;
  --ls2: 0;
  --ps2: 8px;

  /* smallest */
  --fs3: 11px;
  --lh3: 12px;
  --ls3: calc(var(--fs3) * 0.02);
  --ps3: 4px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*::-webkit-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 0;
}

li {
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overscroll-behavior: none;
  font-family: ABCDiatype;
}

body {
  padding: var(--margin);
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: var(--fs3);
  line-height: var(--lh3);
  letter-spacing: var(--ls3);
}

body.no-scroll {
  overflow-y: hidden !important;
  height: 100vh !important;
}

h3 {
  font-size: var(--fs3);
  line-height: var(--lh3);
  letter-spacing: 0.44px;
  text-transform: uppercase;
  font-weight: normal;
}

.ff1 {
  font-size: var(--fs1);
  line-height: var(--lh1);
  letter-spacing: var(--ls1);
}

.ff2 {
  font-size: var(--fs2);
  line-height: var(--lh2);
  letter-spacing: var(--ls2);
}

.ff3 {
  font-size: var(--fs3);
  line-height: var(--lh3);
  letter-spacing: var(--ls3);
}

p.ff2,
.ff2 p {
  margin-bottom: var(--ps2);
}

p.ff3,
.ff3 p {
  margin-bottom: var(--ps3);
}

a,
a:hover,
a:visited,
button,
button:hover,
button:visited {
  color: #d9d9d9;
  text-decoration: none;
  font-size: unset;
  font-family: unset;
  text-align: unset;
  background: transparent;
  border: none;
  cursor: pointer;
}

header a,
header button,
footer a,
footer button {
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

header {
  position: fixed;
  top: var(--margin);
  width: calc(100% - 2 * var(--margin));
  display: flex;
  align-items: center;
  box-sizing: border-box;
  z-index: 3;
}

header .back_button {
  margin-left: auto;
  width: 140px;
  text-align: center;
}

.project_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

mux-player {
  --play-button: none;
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --mute-button: none;
  --captions-button: none;
  --airplay-button: none;
  --pip-button: none;
  --fullscreen-button: none;
  --cast-button: none;
  --playback-rate-button: none;
  --volume-range: none;
  --time-range: none;
  --time-display: none;
  --duration-display: none;
  --rendition-menu-button: none;
  --gradient-shadow: none;
  --media-loading-indicator-display: none;
  --media-background-color: var(--background);
  --media-background-color: transparent;
  pointer-events: none !important;
  background-color: var(--background) !important;
  background: var(--background) !important;
}

/* control-bar bottom */

mux-player::part(control-bar) {
  opacity: 1 !important;
  --gradient-steps: none !important
;
}

mux-player .mux-spinner {
  display: none !important;
}

/* Phones */
@media screen and (min-width: 320px) {
  footer {
    justify-content: center;
  }
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  :root {
    --fs1: 120px;
    --lh1: 100px;
  }

  footer {
    flex-direction: row;
    gap: 40px;
  }

  header .back_button {
    width: 240px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
