#header {
  position: fixed;
  top: var(--margin);
  width: calc(100% - 2 * var(--margin));
  display: flex;
  align-items: center;
  box-sizing: border-box;
  z-index: 3;

  mix-blend-mode: difference;
  color: #fff;
}

.project_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.back_button {
  margin-left: auto;
  width: 140px;
  text-align: center;
}

.header_inner {
  width: 100%;
  display: flex;
}

.media_count {
  margin-left: auto;
}

.video_controls {
  align-items: center;
  display: flex;
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .back_button {
    width: 240px;
  }
  #header .info_button {
    min-width: 70px;
    text-align: left;
  }
  .video_controls span,
  .video_controls button {
    margin-left: 90px;
    min-width: 70px;
    text-align: center;
  }
}
