#header {
  position: fixed;
  top: var(--margin);
  width: calc(100% - 2 * var(--margin));
  display: flex;
  align-items: center;
  box-sizing: border-box;
  z-index: 3;

  mix-blend-mode: difference;
  color: #fff;
}

#header a,
#header button {
  color: #262626; /* Header is difference blend mode, so invert */
}

/* #header a:hover,
#header button:hover {
  color: #262626;
  animation-name: blink;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-delay: 0s;

  animation-fill-mode: forwards;
}

@keyframes blink {
  0% {
    color: #262626 !important;
  }
  16.5% {
    color: #d7d7d7 !important;
  }
  33% {
    color: #262626 !important;
  }
  50% {
    color: #d7d7d7 !important;
  }
  66.5% {
    color: #262626 !important;
  }
  84% {
    color: #d7d7d7 !important;
  }
  100% {
    color: #262626 !important;
  }
} */

.project_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.back_button {
  margin-left: auto;
  width: 140px;
  text-align: center;
}

.header_inner {
  width: 100%;
  display: flex;
}

.media_count {
  margin-left: auto;
}

.video_controls {
  align-items: center;
  display: flex;
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .back_button {
    width: 240px;
  }
  #header .info_button {
    min-width: 70px;
    text-align: left;
  }
  .video_controls span,
  .video_controls button {
    margin-left: 90px;
    min-width: 70px;
    text-align: center;
  }
}
