.project_header {
  position: fixed;
  width: calc(100% - (2 * var(--margin)));
  align-items: center;
  display: flex;

  top: var(--margin);

  justify-content: space-between;
}

.info {
  position: absolute;
  top: calc(var(--margin) + var(--fs3));
  mix-blend-mode: difference;
  color: #fff;
}

.media_wrapper {
  box-sizing: border-box;
  height: calc(100dvh - (2 * var(--margin)));

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.media_wrapper img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
