.text_wrapper {
  margin-top: var(--fs3);
  padding-bottom: 24px;
}

.section_header {
  position: sticky;
  top: var(--margin);
  bottom: var(--margin);
}

@media screen and (min-width: 769px) {
  .legal_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* three columns */
    gap: 0;
  }
}
